<!DOCTYPE html>
<html>
    <head>
        <title>Đăng nhập</title>
        <meta charset="utf-8">
    </head>
    <body>
        <form action="./action_1" method="POST">
            <p id ="user_name">user_name :<br></p>
            <input type="text" name="user_name" id="ip_urname">
            <p id="name">passwd :<br></p>
            <input type="text" name="passwd" id="ip_mk"><br><br>
            <input type="submit" value="Đăng nhập">
        </form>
    </body>
</html>