<!DOCTYPE html>
<html>
    <head>
        <title>Đăng ký thành viên</title>
        <meta charset="utf-8">
    </head>
    <body>
        <form action="./action" method="POST">
            <p id ="first_name">Họ và chữ lót :<br></p>
            <input type="text" name="first_name" id="ip_fname">
            <p id="name">Tên :<br></p>
            <input type="text" name="name" id="ip_name"><br>
            <p id="name">Tên tài khoản :<br></p>
            <input type="text" name="user_name" id="ip_urname"><br>
            <p id="name">Mật khẩu :<br></p>
            <input type="text" name="passwd" id="ip_passwd"><br><br>
            <input type="submit" value="Đăng ký">
        </form>
    </body>
</html>